@import "../../style/variables.scss";

.banner {
    display: block;
    position: relative;
    background-color: $dark;
    height: 100px;
    padding: 18px 0 0 280px;

    &__bg-decoration {
        display: block;
        position: absolute;
        top: 0;
        left: 45px;
    }
    &__bg-logo {
        display: block;
        position: absolute;
        right: 25px;
        top: 0;
    }
    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
}